body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.goldenrod-color{
    color: goldenrod;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    margin-left: 50px;
}
.half-width img{
    width: 70%;
}
.link-button{
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    text-decoration:none;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer-area{
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    margin-right: 40px;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-developer{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}