body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
#heading-name-color{
    color: goldenrod;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    margin-left: 50px;
}
.half-width img{
    width: 70%;
}
.link-button{
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    text-decoration:none;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}